<%= form_for(@outline) do |f| %>
  <% if @outline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outline.errors.count, "error") %> prohibited this outline from being saved:</h2>

      <ul>
      <% @outline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.collection_select :course_id, @courses, :id, :name, {prompt: "Choose a Course"}, {class: "form-control"} %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.hidden_field :user_id, :value => @user.id  %>
  </div>
  <div class="field">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>
  <div class="actions">
    <%= f.submit%>
  </div>
<% end %>
