<h3><%= "#{current_user.school.name} Outlines" %></h3
<div class="row">
  <div class= 'section'>
  <% @school_outlines_search.each do |outline| %>
  <div class="col s12 m6">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src='<%= outline.attachment.url(:thumb)%>'>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4"><%=outline.title%><i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-action">
        <span style = "font-size: 2em; ">$<%= outline.price%>.00</span>
      </div>
      <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><%=outline.title%><i class="material-icons right">close</i></span>
      <ul>
      <li><b>Course </b><%= outline.course.name %></li>
      <li><b>Professor </b><%= outline.professor.full_name%></li>
      <li><b>Description </b><%= outline.description%></li>
      <li><b>Owner</b><%= outline.seller%></li>
      <li><b>Price</b>$<%= outline.price%>.00</li>
      <span style="float: right;"><%= link_to 'Purchase', outline, class: "btn btn-default"%></span>
    </ul>
    </div>
    </div>
    <div class = "divider"></div>
  </div>

  <% end %>
  </div>

</div>
