<p id="notice"><%= notice %></p>

<h1>Listing Outlines</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Course</th>
      <th>User</th>
      <th>Purchase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outlines.each do |outline| %>
      <tr>
        <td><%= outline.title %></td>
        <td><%= outline.description %></td>
        <td><%= outline.course.name %></td>
        <td><%= outline.user %></td>
        <td><%= link_to "#{outline.title}", outline.attachment_url %></td>
        <td><%= image_tag outline.attachment_url(:thumb)%> </td>
        <td><%= link_to 'Preview', outline %></td>
    <% end %>
  </tbody>
</table>
