<p id="notice"><%= notice %></p>

<h1>Shop Outlines</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Course</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outlines.each do |outline| %>
      <tr>
        <td><%= outline.title %></td>
        <td><%= outline.description %></td>
        <td><%= outline.course.name %></td>
        <td><%= outline.user %></td>
        <td><%=outline.attachment_url(:thumb)%></td>
        <td><%= link_to 'Preview', new_outline_purchase_path(outline) %></td>
    <% end %>
  </tbody>
</table>
