<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @outline.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outline.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @outline.course.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @outline.seller %>
</p>

<p>
  <strong>Download</strong>
  <%= link_to "#{@outline.title}", @outline.attachment.url %></td>
</p>


<%if session[:user_id]= current_user.id %>
  <%=link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@outline), removeUrl: remove_from_cart_path(@outline)} do%>
    <i class="fi-shopping-cart"></i>
    <span><%=@cart_action%></span> Cart
  <%end%>
<%end%>

<%=link_to "Checkout", new_outline_transaction_path(@outline), class: "button" %>

<%= link_to 'Edit', edit_outline_path(@outline) %> |
<%= link_to 'Back', outlines_path %>
