<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @outline.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @outline.description %>
</p>

<p>
  <strong>Course:</strong>
  <%= @outline.course.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @outline.seller %>
</p>

<p>
  <strong>Download</strong>
  <%= link_to "#{@outline.title}", @outline.attachment.url %></td>
</p>

<%=link_to "Purchase", new_outline_transaction_path(@outline), class: "btn btn-default" %>


<%= link_to 'Back', outlines_path, class: "btn btn-default" %>
