<%= form_tag create_submerchant_path do %>
  <div class = "row">
    <div class = "col s6 offset-s3">
    <label for="phone">Phone</label>
    <%= text_field_tag :phone, nil, placeholder: "55555555555", maxlength: 10%></br>
    <label for="date_of_birth">Date of Birth</label>
    <%= text_field_tag :date_of_birth, nil, placeholder: "YYYY-MM-DD", maxlength: 10 %></br>
    <label for="ssn">SSN</label>
    <%= text_field_tag :ssn, nil, placeholder: "555-55-5555", maxlength: 11 %></br>
    <label for="street_address">Street Address</label>
    <%= text_field_tag :street_address %></br>
    <label for="locality">Locality</label>
    <%= text_field_tag :locality %></br>
    <label for="region">Region</label>
    <%= text_field_tag :region, nil, maxlength: 2 %></br>
    <label for="postal_code">Postal Code</label>
    <%= text_field_tag :postal_code, nil, maxlength: 5 %></br>
    <%= submit_tag "Submit" %>
  </div>
  </div>
<% end %>
