<div class='row'>
  <div class= 'col s4 m4'>
<h3>My Outlines</h3>
</div>
<div class = "vertical">
<%= link_to 'New', new_outline_path, class: "btn-floating btn-large waves-effect waves-light #26a69a"%>
</div>
</div>
<div class="row">
  <% @user.outlines.each do |outline| %>
  <div class="col s12 m4">
    <div class="card small">
      <div class="card-image">
        <img src='<%= outline.attachment.url(:thumb)%>' >
        <span class="card-title #00695c teal-text text-darken-3"> <%=outline.title%> </span>
      </div>
      <div class="card-content">
        <p><b>Course </b><%= outline.course.name %></p>
        <p><b>Sales </b><%= outline.purchases.count %></p>
      </div>
      <div class="card-action">
        <%= link_to "#{outline.title}", outline.attachment.url %>
      </div>
    </div>
  </div>
  <% end %>
</div>
