1<h2>My Outlines</h2>
<div class="row">
    <% @user.outlines.each do |outline| %>

              <div class="col s12 m4">
                <div class="card small">
                  <div class="card-image">
                    <img src= '<%= image_tag "#{outline.attachment.url(:thumb)}" %>'>
                    <span class="card-title">outline.title</span>
                  </div>
                  <div class="card-content">
                    <p><%= outline.course.name %></p>
                    <p><%= outline.purchases.count %></p>
                  </div>
                  <div class="card-action">
                    <%= link_to "#{outline.title}", outline.attachment.url %>
                  </div>
                </div>
              </div>

      <% end %>
        </div>
<%= link_to 'New', new_outline_path, class: "btn-floating btn-large waves-effect waves-light red"%>
