<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school.name %>
</p>

<%= render 'outlinesOwned' %>
</br>
<%= link_to "New Outline", new_outline_path, class: "btn btn-default" %>
</br>
<%= link_to 'Edit Profile', edit_user_path(@user) %> 
