<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school.name %>
</p>

<%= render 'outlinesOwned' %> 
</br>
<%= link_to "New Outline", new_outline_path %>
</br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
