<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school.name %>
</p>
<%= link_to 'Edit Profile', edit_user_path(@user) %>

<%= render 'outlinesOwned' %>
</br>
<%= render 'outlinesPurchased' %>
