<h1>Purchases#new</h1>
<%= @outline.title %>
<%= @outline.description %>
<%= @outline.user.to_s%>
<%= @outline.course.name %>
<%= button_to "Buy",{:controller => :purchases, :action => :create, :user_id => @user.id, :outline_id => @outline.id}, {:method => :post}%>
<%= render 'form' %>
